{% extends 'base.html.twig' %}

{% block title %}CGU - Lili Giroud{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/legal.css')}}">{% endblock %}

{% block body %}
	<main>
		<h1 class="title">Conditions générales d’utilisations</h1>
		<p id="center">En vigueur au 25/08/2022</p>

		<p class="paragraphType">Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique des modalités de mise à disposition du site et des services par www.liligiroud.fr et de définir les conditions d’accès et d’utilisation des services par « l'Utilisateur ». Les présentes CGU sont accessibles sur le site à la rubrique «CGU». Toute inscription ou utilisation du site implique l'acceptation sans aucune réserve ni restriction des présentes CGU par l’utilisateur. Lors de
		l'inscription sur le site via le formulaire d’inscription, chaque utilisateur accepte expressément les présentes CGU en cochant la case précédant le texte suivant : « Je reconnais avoir lu et compris les CGU et je les accepte ». En cas de non-acceptation des CGU stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès des services proposés par le site. www.liligiroud.fr se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes CGU.</p>

		<h2 class="titleThree">PRÉSENTATION DU SITE INTERNET</h2>

		<p class="paragraphType">En vertu de l’article 6 de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site internet www.liligiroud.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
			<br><br>
			Propriétaire, responsable et éditeur :
			<br><br>
			Le site www.liligiroud.fr est assurée par <b>LILI GIROUD</b>, domicilié 3 rue de Paris 83000 TOULON.
			<br>
			Numéro de téléphone : 07 89 32 14 52
			<br>
			Adresse e-mail : contact@liligiroud.com.
			<br>
			Numéro de SIRET : 20092019080419982
			<br><br>
			Développeur :
			<br>
			Le développement du site www.liligiroud.fr est la société Sixième Sens, dont le siège social est situé au 22 avenue des agences, 75000 PARIS, avec le numéro de téléphone : 02 99 38 32 53.
			<br><br>
			Hébergeur :
			<br>
			L'hébergeur du site www.liligiroud.fr est la société O2Switch, dont le siège social est situé au 222 Bd Gustave Flaubert, 63000 CLERMONT-FERRAND, avec le numéro de téléphone : 04 44 44 60 40.</p>

		<h2 class="titleThree">CONDITIONS GÉNÉRALES D’UTILISATION DU SITE ET DES SERVICES PROPOSÉS</h2>
		<p class="paragraphType">Le site www.liligiroud.fr constitue une oeuvre de l’esprit protégée par les dispositions du Code de la Propriété intellectuelle et des Réglementations Internationales applicables. L’Utilisateur ne peut en aucune manière réutiliser, céder ou exploiter pour son propre compte tout ou partie des éléments du site.
			<br><br>
			Le site est proposé en différents langages web (HTML5, CSS3, Javascript, etc...) pour un meilleur confort d’utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Google Chrome, Firefox, Safari, etc...
			<br><br>
			Le site internet www.liligiroud.fr est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.
			<br><br>
			L’Utilisateur non membre n'a pas accès aux services de réservation aux soins. Pour cela, il doit s’inscrire en remplissant le formulaire. En acceptant de s’inscrire aux services réservés, l’Utilisateur membre s’engage à fournir des informations sincères et exactes concernant son état civil et ses coordonnées, notamment son adresse email et son adresse de domicile.
			<br><br>
			Pour accéder aux réservations, l’Utilisateur doit ensuite s'identifier à l'aide de son identifiant et de son mot de passe qui lui seront communiqués après son inscription. Tout Utilisateur membre régulièrement inscrit pourra également solliciter sa désinscription en faisant une demande par
			email à contact@liligiroud.fr. Celle-ci sera effective dans un délai raisonnable. L’utilisation du site www.liligiroud.fr implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être
			modifiées ou complétées à tout moment, les Utilisateurs du site www.liligiroud.fr sont donc invités à les consulter de manière régulière.
			<br><br>
			Ce site est normalement accessible à tout moment aux Utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par www.liligiroud.fr, qui s’efforcera alors de communiquer préalablement aux Utilisateurs les dates et heures de l’intervention. Le site
			www.liligiroud.fr est mis à jour régulièrement par la responsable. De la même façon, les conditions générales d’utilisations peuvent être modifiées à tout moment: elles s’imposent néanmoins à l’Utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.
			<br><br>
			Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous réserve de toute interruption ou modification en cas de maintenance, n'engage pas la responsabilité de www.liligiroud.fr. Dans ces cas, l’Utilisateur accepte ainsi ne
			pas tenir rigueur à l’éditeur de toute interruption ou suspension de service, même sans préavis. L'Utilisateur a la possibilité de contacter le site par messagerie électronique à l’adresse email contact@liligiroud.fr.</p>

		<h2 class="titleThree">DESCRIPTION DES SERVICES FOURNIS</h2>
		<p class="paragraphType">Le site internet www.liligiroud.fr a pour objet de fournir une information concernant l’ensemble des activités de la société. Le site internet propose les services suivants : Madérothérapie massage colombien à domicile sur Toulon. www.liligiroud.fr s’efforce de fournir sur le site
			www.liligiroud.fr des informations aussi précises que possible. Toutefois, il ne pourra être tenu pour responsable des oublis, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
			<br><br>
			Toutes les informations indiquées sur le site www.liligiroud.fr sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site www.liligiroud.fr ne sont pas exhaustifs et les photos non contractuelles. Ils sont donnés sous réserve de modification ayant été apportées depuis leur mise en ligne.</p>

		<h2 class="titleThree">LIMITATION CONTRACTUELLES SUR LES DONNÉES</h2>
		<p class="paragraphType">Les informations contenues sur ce site sont aussi précises que possible et le site remis à jour à différentes périodes de l’année, mais peut toutefois contenir des inexactitudes ou des omissions. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien
			vouloir le signaler par email, à l’adresse contact@liligiroud.fr, en décrivant le problème de la manière la plus précise possible (page posant problème, type d’ordinateur et de navigateur utilisé, ...).
			<br><br>
			Tout contenu téléchargé se fait aux risques et périls de l’utilisateur et sous sa seule responsabilité. En conséquence, ne saurait être tenu responsable d’un quelconque dommage subi par l’ordinateur de l’utilisateur ou d’une quelconque perte de données consécutives au
			téléchargement. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour. Le site www.liligiroud.fr est hébergé chez un prestataire sur le territoire de l’Union Européenne conformément aux dispositions du Règlement Général sur la Protection des Données (RGPD: n° 2016-679).
			<br><br>
			L’objectif est d’apporter une prestation qui assure le meilleur taux d’accessibilité. L’hébergeur assure la continuité de son service 24 heures sur 24, tous les jours de l’année. Il se réserve néanmoins la possibilité de maintenance, d’amélioration de ses infrastructures, de défaillance de
			ses infrastructures ou si les prestations et services génèrent un trafic réputé anormal.
			<br><br>
			www.liligiroud.fr et l’hébergeur ne pourront être tenus responsables en cas de dysfonctionnement du réseau Internet, des lignes téléphoniques ou du matériel informatique et de téléphonie lié notamment à l’encombrement du réseau empêchant l’accès au serveur.</p>
			
		<h2 class="titleThree">PROPRIÉTÉ INTELLECTUELLE ET CONTREFAÇONS</h2>
		<p class="paragraphType"> Tout le contenu du présent sur le site www.liligiroud.fr, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l’exception des marques, logos ou contenus appartenant à d’autres sociétés partenaires ou auteurs.
			<br><br>
			Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l’accord exprès par écrit de Lili giroud. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.
			Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.
			<br><br>
			Limitations de responsabilité
			<br>
			www.liligiroud.fr agit en tant qu’éditeur du site. www.liligiroud.fr est responsable de la qualité et de la véracité du Contenu qu’il publie.
			<br><br>
			www.liligiroud.fr ne pourra être tenu responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site internet www.liligiroud.fr, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.
			<br><br>
			www.liligiroud.fr ne pourra également être tenu responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site www.liligiroud.fr. Des espaces interactifs (possibilité de poser des questions dans l’espace
			contact) sont à la disposition des Utilisateurs. www.liligiroud.fr se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des
			données. Le cas échéant, www.liligiroud.fr se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’Utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte,
			photographie ...).</p>

		<h2 class="titleThree">GESTION DES DONNÉES PERSONNELLES</h2>
		<p class="paragraphType">L’Utilisateur est informé des réglementations concernant la communication marketing, la loi du 21 Juin 2014 pour la confiance Gestion des données personnelles dans l’Economie Numérique, la Loi Informatique et Liberté du 06 Août 2004 ainsi que du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).
			<br><br>
			<b>Responsable de la collecte des données personnelles</b>
			<br>
			Pour les Données Personnelles collectées dans le cadre de la création du compte personnel de l’Utilisateur et de sa navigation sur le Site, le responsable du traitement des Données Personnelles est : Lili giroud. www.liligiroud.fr est représenté par Lili giroud, son représentant légal.
			<br><br>
			En tant que responsable du traitement des données qu’il collecte, www.liligiroud.fr s’engage à respecter le cadre des dispositions légales en vigueur. Il lui appartient notamment au Utilisateur d’établir les finalités de ses traitements de données, de fournir à ses prospects et clients, à partir
			de la collecte de leurs consentements, une information complète sur le traitement de leurs données personnelles et de maintenir un registre des traitements conforme à la réalité. Chaque fois que www.liligiroud.fr traite des Données Personnelles, www.liligiroud.fr prend toutes les
			mesures raisonnables pour s’assurer de l’exactitude et de la pertinence des Données Personnelles au regard des finalités pour lesquelles www.liligiroud.fr les traite.
			<br><br>
			<b>Finalité des données collectées</b>
			<br>
			www.liligiroud.fr est susceptible de traiter tout ou partie des données :
					• pour permettre la navigation sur le Site et la gestion et la traçabilité des prestations et services commandés par l’Utilisateur : données de connexion et d’utilisation du Site, facturation, historique des commandes, adresse de livraison, etc.
					• pour prévenir et lutter contre la fraude informatique (spamming, hacking...) : matériel informatique utilisé pour la navigation, l’adresse IP, le mot de passe (hashé)
					• pour améliorer la navigation sur le Site : données de connexion et d’utilisation
					• pour mener des enquêtes de satisfaction facultatives sur www.liligiroud.fr : adresse email
					• pour mener des campagnes de communication (sms, mail) : numéro de téléphone, adresse email
			<br><br>
			www.liligiroud.fr ne commercialise pas vos données personnelles qui sont donc uniquement utilisées par nécessité ou à des fins statistiques et d’analyses.
			<br><br>
			<b>Droit d’accès, de rectification et d’opposition</b>
			<br>
			Conformément à la réglementation européenne en vigueur, les Utilisateurs de www.liligiroud.fr disposent des droits suivants :
			<br>
			• droit d’accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données des Utilisateurs droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel (article 17 du RGPD), lorsqu’elles sont inexactes,
			incomplètes, équivoques, périmées, ou dont la collecte, l’utilisation, la communication ou la conservation est interdite
			• droit de retirer à tout moment un consentement (article 13-2c RGPD)
			• droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD)
			• droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD)
			• droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l’objet de traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD)
			• droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui www.liligiroud.fr devra communiquer (ou non) ses données à un tiers qu’ils aura préalablement désigné
			<br><br>
			Dès que www.liligiroud.fr a connaissance du décès d’un Utilisateur et à défaut d’instructions de sa part, www.liligiroud.fr s’engage à détruire ses données, sauf si leur conservation s’avère nécessaire à des fins probatoires ou pour répondre à une obligation légale.
			<br><br>
			Si l’Utilisateur souhaite savoir comment www.liligiroud.fr utilise ses Données Personnelles, demander à les rectifier ou s’oppose à leur traitement, l’Utilisateur peut contacter www.liligiroud.fr par écrit à l’adresse suivante :
			<br><br>
			<b>GIROUD Lili</b>
			<br>
			3 rue de Paris, 83000 TOULON
			<br><br>
			Dans ce cas, l’Utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que www.liligiroud.fr corrige, mette à jour ou supprime, en s’identifiant précisément avec une copie d’une pièce d’identité (carte d’identité ou passeport).
			<br><br>
			Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont imposées à www.liligiroud.fr par la loi, notamment en matière de conservation ou d’archivage des documents. Enfin, les Utilisateurs de www.liligiroud.fr peuvent déposer une réclamation
			auprès des autorités de contrôle, et notamment de la CNIL (https://www.cnil.fr/fr/plaintes). Non communication des données personnelles
			<br><br>
			www.liligiroud.fr s’interdit de traiter, héberger ou transférer les Informations collectées sur ses Utilisateurs vers un pays situé en dehors de l’Union européenne ou reconnu comme « non adéquat » par la Commission européenne sans en informer préalablement l’utilisateur. Pour
			autant, www.liligiroud.fr reste libre du choix de ses sous-traitants techniques et commerciaux à la condition qu’il présentent les garanties suffisantes au regard des exigences du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).
			<br><br>
			www.liligiroud.fr s’engage à prendre toutes les précautions nécessaires afin de préserver la sécurité des Informations et notamment qu’elles ne soient pas communiquées à des personnes non autorisées. Cependant, si un incident impactant l’intégrité ou la confidentialité des
			Informations de l’Utilisateur est portée à la connaissance de www.liligiroud.fr, celle-ci devra dans les meilleurs délais informer l’Utilisateur et lui communiquer les mesures de corrections prises. Par ailleurs www.liligiroud.fr ne collecte aucune « données sensibles ».
			Les Données Personnelles de l’Utilisateur peuvent être traitées par des filiales de www.liligiroud.fr et des sous-traitants (prestataires de services), exclusivement afin de réaliser les finalités de la présente politique.
			<br><br>
			Dans la limite de leurs attributions respectives et pour les finalités rappelées ci-dessus, les principales personnes susceptibles d’avoir accès aux données des Utilisateurs de www.liligiroud.fr sont principalement les agents de notre service client. Types de données collectées
			<br><br>
			Concernant les utilisateurs d’un Site www.liligiroud.fr, nous collectons les données suivantes qui sont indispensables au fonctionnement du service , et qui seront conservées pendant une période maximale de 24 mois après la fin de la relation contractuelle : Nom, prénom, adresse, numéro de téléphone.</p>

		<h2 class="titleThree">COOKIES</h2>
		<p class="paragraphType">L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation.
			<br><br>
			Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de l’Utilisateur par votre navigateur et qui sont nécessaires à l’utilisation du site www.liligiroud.fr. Les cookies ne contiennent pas d’information personnelle et ne peuvent pas être utilisés pour
			identifier quelqu’un. Un cookie contient un identifiant unique, généré aléatoirement et donc anonyme. Certains cookies expirent à la fin de la visite de l’Utilisateur, d’autres restent. L’information contenue dans les cookies est utilisée pour améliorer le site www.liligiroud.fr.
			En naviguant sur le site, l’Utilisateur les accepte. l’Utilisateur doit toutefois donner son consentement quant à l’utilisation de certains cookies.
			<br><br>
			A défaut d’acceptation, l’Utilisateur est informé que certaines fonctionnalités ou pages risquent de lui être refusées.
			<br><br>
			L’Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.
			<br><br>
			Sous Firefox : en haut de la fenêtre du navigateur, cliquez sur le bouton Firefox, puis aller dans l’onglet Options. Cliquer sur l’onglet Vie privée. Paramétrez les Règles de conservation sur : utiliser les paramètres personnalisés pour l’historique. Enfin décochez-la pour désactiver les cookies.
			<br><br>
			Sous Safari : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par un rouage). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section « Confidentialité », cliquez sur Paramètres de contenu. Dans la section « Cookies », vous pouvez bloquer les cookies.
			<br><br>
			Sous Chrome : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par trois lignes horizontales). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section « Confidentialité », cliquez sur préférences. Dans l’onglet « Confidentialité », vous pouvez bloquer les cookies.</p>

		<h2 class="titleThree">LIENS HYPERTEXTES</h2>
		<p class="paragraphType">Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant sur ces liens, il sortira du site www.liligiroud.fr. Ce dernier n’a pas de contrôle sur les pages web sur lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.</p>

		<h2 class="titleThree">DROIT APPLICABLE ET JURIDICTION COMPÉTENTE</h2>
		<p class="paragraphType">La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né entre les parties, les tribunaux de Toulon seront seuls compétents pour en connaître.</p>

	</main>
{% endblock %}
