{% extends 'base.html.twig' %}

{% block title %}Error 500 Erreur serveur{% endblock %}

{% block stylesheets %}
<!-- begin rdv head -->
		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
  integrity=
"sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"  crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"> </script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
  integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
  crossorigin="anonymous">
 </script>
<!-- end rdv head -->
    <link rel="stylesheet" href="{{asset('assets/css/error404.css')}}">
{% endblock %}

{% block body %}
        <section class="page_404">
            <div class="container">
                <div class="row">	
                <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                <div class="four_zero_four_bg">
                    <h1 class="text-center ">500</h1>
                
                
                </div>
                
                <div class="contant_box_404">
                <h3 class="h2">
                Une erreur sur le serveur est survenue !
                </h3>
                
                <a href="{{ path('home') }}" class="link_404">Retour à l'accueil</a>
            </div>
                </div>
                </div>
                </div>
            </div>
        </section>
{% endblock %}
